#cf {
    height: 250px;
    width: 450px;
    margin-top: 80px;
  }
  
  #cf img {
    position:absolute;
    left:0;
    width: 1888px;
    margin-left: 10px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }
  .aboutus{
      margin-bottom: 120px;
  } 
  .marque-slide{
    margin-top: -32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
  }
  #about{
    width: 350px;
    height: 350px;
    padding: 50px;
    margin-top: 550px;
    /* margin-top: 650px; */
    margin-left: 80px;
   
    /* border: 1px solid black; */
    
    line-height: 2px;
    line-height: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.643;
    font-family: Roboto, sans-serif;
    letter-spacing: 0em;
    text-align: left;
    color: #5e606c;
  }
  #about h1{
    font-family: Roboto, sans-serif;
      font-size: 40px;
      margin-left: 50px; 
     color: #505152;
     
  }
  .about1{
    display: flex;
    margin-left: 650px;
    margin-top: -350px;
    font-family: Roboto, sans-serif;
    color: #5e606c;
    height: 150px;
    width: 550px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

  }
  #about1 h3{
    color: #505152;
    font-family: Roboto, sans-serif;
  }
  .about2{
    display: flex;
    margin-left: 650px;
  
    font-family: Roboto, sans-serif;
    color: #5e606c;
    height: 150px;
    width: 550px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

  }
  .about3{
    display: flex;
    margin-left: 650px;
  
    font-family: Roboto, sans-serif;
    color: #5e606c;
    height: 150px;
    width: 550px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

  }
  .chair{
    width: 250px;
    height: 250px;
}
  
  .about4{
    display: flex;
    margin-left: 1500px;
    margin-top: -450px;
    font-family: Roboto, sans-serif;
    color: #5e606c;
    height: 150px;
    width: 550px;
    /* border-top: 1px solid grey; */
    /* border-bottom: 1px solid grey; */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    background-color: grey;
    color: white;
    text-align: center;
 }